.jumbotron {
  padding-top: 5rem;
  background-color: #dbf0fa;
}
#project {
  background-color: #;
}
footer {
  background-color: #dbf0fa;
  padding: 1rem;
}
section {
  padding-top: 5rem;
}
